<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "profile.jpg" %>
	</div>

	<div id="content">
		<h1>Hey there, I'm Eric Felder</h1>
		<p>I created this blog using Ruby on Rails.</p>
		<p>If you'd like to learn more about me, feel free to follow me on my Github or my Instagram.  Thanks for stopping by.</p>

	</div>
</div>
